body {
    background-image: url("../images/bookstore.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #beb297;
}

body.mainBody {
    background-image: url("../images/bookstoreMain.jpg");
}

body.profileBody {
    background-image: url("../images/profile.jpg");
}

body.booksBody {
    background-image: url("../images/books.jpg");
}

body.cartBody {
    background-image: url("../images/cart.jpg");
}

body.moderatorsBody {
    background-image: url("../images/office.jpg");
}

body.errorBody {
    background-image: url("../images/error.jpg");
}

h1 {
    font-size: 200%;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
    color: #4C2F27;
    text-align: center;
}

span {
    background: rgba(44, 50, 51, 0.6);
    padding: 7px;
    border-radius: 5px;
    color: #FAEBD7;
    border-color: rgba(40, 40, 42, 0.6);
    border-style: ridge;
}

h2 {
    font-size: 150%;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
    color: #4C2F27;
    text-align: left;
    padding-left: 20px;
}

h3 {
    font-size: 120%;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
    color: #4C2F27;
    text-align: left;
    padding-left: 20px;
}

h4 {
    background-color: rgba(250, 235, 215, 0.6);
    position: absolute;
    top: 112px;
    right: 5%;
    margin-left: -95%;
    font-size: 150%;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
    color: #852f0f;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    border-color: rgba(250, 235, 215, 0.6);
    border-style: ridge;
    width: 10%;
}

a {
    font-size: 120%;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
    color: #4C2F27;
}

table.back {
    background-color: rgba(250, 235, 215, 0.6);
    position: absolute;
    left: 20%;
    margin-right: -80%;
    width: 60%;
    padding: 10px;
    font-size: 150%;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
    text-align: left;
    border-collapse: separate;
    color: #4C2F27;
    border-radius: 5px;
    border-color: rgba(250, 235, 215, 0.6);
    border-style: ridge;
}

table.back.inner {
    display: flex;
}

table.back th, table td {
    padding: 10px;
}

table.back caption {
    font-size: 120%;
    font-weight: bold;
}

input {
    font-size: 110%;
    font-family: Gabriola, Arial, Helvetica, sans-serif;
    padding-left: 5px;
    color: #4C2F27;
    background-color: rgba(250, 235, 215, 0.6);
    border-radius: 5px;
    border-color: rgba(250, 235, 215, 0.6);
    border-style: ridge;
    text-align: left;
    width: 15%;
}

input.push {
    width: 80px;
    font-size: 90%;
    color: #FAEBD7;
    background-color: rgba(76, 47, 39, 0.7);
}

input.push:active {
    color: #4C2F27;
    background-color: rgba(250, 235, 215, 0.7);
}