<#import "common.ftlh" as c>
<title>Moderators</title>
<@c.page>
    <body class="moderatorsBody"></body>
    <h1>Moderator's Page (for administrative use)</h1>
    <form action="/moderators" method="get">
        <br>
        <h2><a href="/bookModerators/">Book moderate</a></h2>
        <h2><a href="/profileModerators/">Profile moderate</a></h2>
        <h2><a href="/cartModerators/">Cart moderate</a></h2>
        <br>
        <br>
        <h2><a href="/bookStore">The Book Store</a></h2>
        <h2><a href="/">Main Page</a></h2>
    </form>
</@c.page>