<#import "common.ftlh" as c>
<title>Registration</title>
<@c.page>
    <body class="profileBody"></body>
    <h1>Registration</h1>
    <h1>${message}</h1>
    <form action="/registration" method="post">
        <br>
        <h2><label for="firstName">Enter first name:</label></h2>
        <h3><input id="firstName" name="firstName" placeholder="Your first name" required></h3>
        <h2><label for="patronymicName">Enter patronymic name:</label></h2>
        <h3><input id="patronymicName" name="patronymicName" placeholder="Your patronymic name"></h3>
        <h2><label for="lastName">Enter last name:</label></h2>
        <h3><input id="lastName" name="lastName" placeholder="Your last name" required></h3>
        <h2><label for="email">Enter email:</label></h2>
        <h3><input type="email" id="email" name="email" placeholder="Your email" required></h3>
        <h2><label for="password">Enter password:</label></h2>
        <h3><input type="password" id="password" name="password" placeholder="Your password" required></h3>
        <h2><input type="submit" value="Sign up" class="push"></h2>
        <br>
        <h2><a href="/login">Login</a></h2>
        <h2><a href="/">Main Page</a></h2>
    </form>
</@c.page>